<!DOCTYPE html>
<HTML>

<HEAD>
    <TITLE>Pet Store Sale!</TITLE>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</HEAD>

<BODY>
	<img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="width:104px;height:142px;"></img>
    <BR/>
    <BR/>
    <center>
        <font size="3" color="red">
            <B>$petList.size() Pets on Sale!</B>
        </font>
        <BR/> #set( $count = 1 )
        <table style="width:100%">
            <tr>
                <th>Count</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            #foreach( $pet in $petList )
            <tr>
                <TD>$count)</TD>
                <TD>$pet.name</TD>
                <TD>$pet.price</TD>
            </tr>
            #set( $count = $count + 1 ) #end
        </table>
    </center>
</BODY>

</HTML>